* {
  box-sizing: border-box;
}

body {
  font-family: 'Courier New', Courier, monospace;
  font-size: 14px;
}

.machine {
  width: 500px;
  border-radius: 5px;
  padding: 0 1rem;
}

.container {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.container.line::after {
  content: '';
  position: absolute;
  top: 50%;
  display: block;
  height: 2px;
  width: 100%;
  border-top: 1px solid rgb(255, 255, 255);
  border-bottom: 1px solid rgb(255, 255, 255);
  background-color: rgb(192, 57, 43);
}

.reel {
  position: relative;
  width: 150px;
  border: 1px solid rgb(255, 255, 255);
  outline: 1px solid rgb(230, 228, 228);
  box-shadow: inset 0 1px 3px 0 rgb(144, 144, 144);
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 5px;
  background: rgb(230, 228, 228);
  background: linear-gradient(
    0deg,
    rgba(230, 228, 228, 1) 0%,
    rgba(255, 255, 255, 1) 30%,
    rgba(255, 255, 255, 1) 70%,
    rgba(230, 228, 228, 1) 100%
  );
  overflow: hidden;
  height: 250px;
}

.reel::before {
  position: absolute;
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    0deg,
    rgba(230, 228, 228, 1) 0%,
    rgba(255, 255, 255, 0) 10%,
    rgba(255, 255, 255, 0) 90%,
    rgba(230, 228, 228, 1) 100%
  );
}

.symbol {
  display: block;
  font-size: 5rem;
}

button {
  height: 40px;
  width: 150px;
  color: rgba(255, 255, 255, 0.9);
  border: 1px solid rgb(255, 255, 255);
  box-shadow: 0 1px 3px 0 rgb(0, 0, 0);
  border-radius: 5px;
  font-size: 1.5rem;
  background-color: rgb(44, 62, 80);
  outline: 1px solid rgb(44, 62, 80);
  user-select: none;
}

button:active {
  box-shadow: 0 0 0 0 rgb(0, 0, 0);
  transform: translateY(2px);
}

.label {
  font-size: 0.8rem;
  font-weight: 700;
}

.bet-amount,
.credit,
.win {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  color: rgb(44, 62, 80);
  margin: 1rem 0 1rem;
  font-size: 1.5rem;
  width: 150px;
}

.payout-table {
  margin: 2rem 0 0;
  display: flex;
  align-items: flex-end;
  font-size: 1.5rem;
}

.payout-table-header {
  font-size: 0.8rem;
  font-weight: 700;
}

.puyout-table-col {
  flex: 1;
}

.payout-table-row {
  border-bottom: 1px solid;
  height: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
